node_modules
coverage/



*.log
*.pot
*.pyc
__pycache__/
.venv/
*.db
*.sqlite3
local_settings.py
*.py[cod]
.env

# 以下はビルド時に自動生成されるものなので管理対象外
backend/frontend/static/frontend/main.js
backend/frontend/static/frontend/index.html
backend/frontend/static/frontend/assets/
